@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);

body {
	font-size: 16px;
}

.book,
.book-summary,
.book-header {
	font-family: "Cutive Mono", Georgia, serif, FangSong, STFangsong;
}

.markdown-section code,
.markdown-section pre {
	font-family: "Courier New", Consolas, monopace, FangSong, STFangsong;
}

.book-summary ul.summary li a,
.markdown-section {
	color: #000;
}

.book-summary ul.summary li span {
	color: #999;
}

.markdown-section h2 {
	border-bottom: 1px solid #ddd;
}

.markdown-section h2::before {
	content: "§";
	color: #999;
	padding-right: 0.25em;
}